# Dependencies
node_modules/

# Builds
dist/
build/

# Env
.env
.env.local
*.env.local

# Uploads (except keep folder)
server/uploads/*
!server/uploads/.gitkeep

# Logs
logs/
*.log
npm-debug.log*
server-pid.txt
.eslintcache

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/